# IMPORTANT: The last matching entry has the highest precedence.

# The team members who maintain this repo:
* @antonioventilii

# The codebase is owned by the Governance & Identity Experience team at XXX.
# For questions, reach out to: <xxx@xxx.xxx>
.github/CODEOWNERS @antonioventilii
